<br /><br />
<h3>Store details</h3>
<b>Name:</b> {{store.name}}<br />
<b>Place:</b> {{store.place}}<br />
<b>ZIP:</b> {{store.zipcode}}<br />
<b>Address:</b> {{store.address}}<br />
<b>Open:</b> {{store.openinghours}}<br />
<br />

<h3>Store available books</h3>
<div class="table-responsive">
  <table class="table" *ngIf="books && books.length">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Amount</th>
        <th></th>
      </tr>
      <tr *ngFor="let book of books;let i=index;">
        <td><a [routerLink]="['/books', book.id]">{{book.title}}</a></td>
        <td>{{book.author}}</td>
        <td>{{store.amounts[i]}}</td>
        <td></td>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>