<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Book List</h3>
  </div>
  <a [routerLink]="['/createbook']">Add New Book</a>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table" *ngIf="books && books.length">
        <thead>
          <tr>
            <th (click)="onHeaderClick('title')">Title</th>
            <th (click)="onHeaderClick('author')">Author</th>
            <th (click)="onHeaderClick('date')">Date</th>
            <th></th>
          </tr>
          <tr>
            <th>
              <input
                type="text"
                placeholder="title filter"
                [(ngModel)]="filters.title"
                name="title"
                class="form-control"
              />
            </th>
            <th>
              <input
                type="text"
                placeholder="author filter"
                [(ngModel)]="filters.author"
                name="author"
                class="form-control"
              />
            </th>
            <th>
              <input
                type="text"
                placeholder="date filter"
                [(ngModel)]="filters.date"
                name="date"
                class="form-control"
              />
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books | bookFilter:filters">
            <td><a [routerLink]="['/books', book.id]">{{book.title}}</a></td>
            <td>{{book.author}}</td>
            <td>{{book.date | date : 'yyyy-MM-dd'}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>