<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Book List</h3>
  </div>
  <a [routerLink]="['/createbook']">Add New Book</a>
  <!-- Search books -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">Search by:</div>
      <div class="col-md-4">
        <input type="text" />
      </div>
    </div>

    <div class="table-responsive">
      <table class="table" *ngIf="books && books.length">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th></th>
          </tr>
          <tr *ngFor="let book of books">
            <td><a [routerLink]="['/books', book.id]">{{book.title}}</a></td>
            <td>{{book.author}}</td>
            <td>{{book.date | date : 'yyyy-MM-dd'}}</td>
            <td></td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>