<div class="panel panel-primary">
  <div class="panel-heading">
    Book List
  </div>
  <a [routerLink]="['/createbook']">Add New Book</a>
  <!-- Search books -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">Search by:</div>
      <div class="col-md-4">
        <input type="text" />
      </div>
    </div>

    <div class="table-responsive">
      <table class="table" >
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>PageNo</th>
            <th>ISBN</th>
            <th></th>
          </tr>
          <tr *ngFor="let book of books">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.date | date : 'yyyy-MM-dd'}}</td>
            <td>{{book.pageno}}</td>
            <td>{{book.isbn}}</td>
            <td><a [routerLink]="['/books', book.id]">Details</a></td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
