<div class="panel panel-primary">
  <div class="panel-heading">
    Store List
  </div>
  <a [routerLink]="['/createstore']">Add New Store</a>
  <!-- Search books -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">Search by:</div>
      <div class="col-md-4">
        <input type="text" />
      </div>
    </div>

    <div class="table-responsive">
      <table class="table" *ngIf="stores && stores.length">
        <thead>
          <tr>
            <th>Name</th>
            <th>Place</th>
            <th>Address</th>
            <th></th>
          </tr>
          <tr>
            <th>
              <input
                type="text"
                placeholder="name filter"
                [(ngModel)]="filters.name"
                name="name"
                class="form-control"
              />
            </th>
            <th>
              <input
                type="text"
                placeholder="place filter"
                [(ngModel)]="filters.place"
                name="place"
                class="form-control"
              />
            </th>
            <th>
              <input
                type="text"
                placeholder="address filter"
                [(ngModel)]="filters.address"
                name="address"
                class="form-control"
              />
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let store of stores">
            <td><a [routerLink]="['/stores', store.id]">{{store.name}}</a></td>
            <td>{{store.zipcode}}&nbsp;{{store.place}}</td>
            <td>{{store.address}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>