<p>
  <br><h3>Author details</h3>
  <b>Name:</b> {{author.name}}<br>
  <b>Place of birth:</b> {{author.placeofbirth}}<br>
  <b>Nationality:</b> {{author.nationality}}
</p>
<br><h3>Author Books</h3>
<div class="table-responsive">
  <table class="table" *ngIf="books && books.length">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>PageNo</th>
        <th>ISBN</th>
        <th></th>
      </tr>
      <tr *ngFor="let book of books">
        <td><a [routerLink]="['/books', book.id]">{{book.title}}</a></td>
        <td>{{book.date | date : 'yyyy-MM-dd'}}</td>
        <td>{{book.pageno}}</td>
        <td>{{book.isbn}}</td>
        <td></td>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>