<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Author List</h3>
  </div>
  <a [routerLink]="['/createauthor']">Add New Author</a>
  <!-- Search authors -->
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table" *ngIf="authors && authors.length">
        <thead>
          <tr>
            <th (click)="onHeaderClick('name')">Name</th>
            <th (click)="onHeaderClick('placeofbirth')">Place Of Birth</th>
            <th (click)="onHeaderClick('nationality')">Nationality</th>
            <th></th>
          </tr>
          <tr>
            <th>
              <input
                type="text"
                placeholder="name filter"
                [(ngModel)]="filters.name"
                name="name"
                class="form-control"
              />
            </th>
            <th>
              <input
                type="text"
                placeholder="place filter"
                [(ngModel)]="filters.placeofbirth"
                name="placeofbirth"
                class="form-control"
              />
            </th>
            <th>
              <input
                type="text"
                placeholder="nation filter"
                [(ngModel)]="filters.nationality"
                name="nationality"
                class="form-control"
              />
            </th>
            <th></th>
          </tr>
          <tr *ngFor="let author of authors | authorFilter:filters">
            <td><a [routerLink]="['/authors', author.id]">{{author.name}}</a></td>
            <td>{{author.placeofbirth}}</td>
            <td>{{author.nationality}}</td>
            <td>
              <button (click)="onDelete(author.id)">X</button>
              <a [routerLink]="['/editauthor', author.id]"><button>...</button></a>

            </td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>