<h3>Add new book</h3>
<p>
  <a routerLink="/books"><b>Back</b></a>
</p>

<form [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm.value)">
  <div>
    <label>Title:&nbsp;</label>
    <input placeholder="Title" formControlName="title" />
  </div>

  <div>
    <label>Author:&nbsp;</label>
    <select [(ngModel)]="author" name="authors" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let author of authors$ | async" [value]="author.name">
        {{author.name}}
      </option>
    </select>
  </div>

  <div>
    <label>Date:&nbsp;</label>
    <input placeholder="Date" formControlName="date" />
  </div>

  <div>
    <label>PageNo:&nbsp;</label>
    <input placeholder="PageNo" formControlName="pageno" />
  </div>

  <div>
    <label>ISBN:&nbsp;</label>
    <input placeholder="ISBN" formControlName="isbn" />
  </div>

  <button color="panel-primary" type>Create</button>
</form>